/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */

.source {
  font-size: 10px;
}

.info { 
  padding: 6px 8px; 
  font: 14px/16px Arial, Helvetica, sans-serif; 
  background: white; 
  background: rgba(255,255,255,0.8); 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; 
}

.info h4 { 
  margin: 0 0 5px; 
  color: #777; 
}

.legend { 
  text-align: left; 
  line-height: 18px; 
  color: #555;
} 

.legend i { 
  width: 18px; 
  height: 18px; 
  float: left; 
  margin-right: 8px; 
  opacity: 0.7; 
  }

/* Make sure that the div for the map has a width and height */

#map, #anotherMap {
  width: 900px;
  height: 500px;
  margin: 100px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

/* .container > canvas {
  width: 50px;
  height: 50px;
} */

/* .container > canvas {
  flex-basis: 50% !important;
} */ */
/* Added some style to the container div to center the maps - feel free to change!

//#mapContainer {
  //display: flex;
  //justify-content: center;
}//

#mapContainer > div {
  margin: 50px; /* This part adds space between the maps */
}

#intro {
  margin: 50px;
}

#spanish {
  margin: 50px;
}

#covid {
  margin: 50px;
}

